/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.example
.env.example
composer.lock
package-lock.json
public/mix-manifest.json
public/js/app.js
.env.example
composer.lock
package-lock.json
public/js/app.js
storage/mpdf/ttfontdata/dejavuserifcondensed.cw.dat
storage/mpdf/ttfontdata/dejavuserifcondensed.gid.dat
storage/mpdf/ttfontdata/dejavuserifcondensed.mtx.php
storage/mpdf/ttfontdata/dejavuserifcondensedB.cw.dat
storage/mpdf/ttfontdata/dejavuserifcondensedB.gid.dat
storage/mpdf/ttfontdata/dejavuserifcondensedB.mtx.php
storage/mpdf/ttfontdata/dejavuserifcondensedBI.cw.dat
storage/mpdf/ttfontdata/dejavuserifcondensedBI.gid.dat
storage/mpdf/ttfontdata/dejavuserifcondensedBI.mtx.php
storage/mpdf/ttfontdata/monaco.cw.dat
storage/mpdf/ttfontdata/monaco.gid.dat
storage/mpdf/ttfontdata/monaco.mtx.php
storage/receipts/receipt_55644.pdf
storage/statements/soa_12020-03-022020-03-04.pdf
storage/statements/soa_2812020-03-012020-03-04.pdf
storage/receipts/receipt_55652.pdf
